/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

	.l_side h1{
			padding-left: 15px;
		}
		.l_side .comment{
			padding: 0 15px;
		}
		.l_side .comment p{
			padding: 0 10px 0 25px;
		}
		.l_side .comment .fa_com,
		.l_side .comment .fa_com1{
			left: 17px;
		}
	.content{
		width: 600px;
	}
	.l_side{
		width: 225px;
	}
	.m_posts{
		width: 375px;
	}
	.search {
		width: 316px;
	}

	/* Medium Devices, Desktops */
	@media only screen and (max-width : 992px) {

		.l_side h1{
			padding-left: 15px;
		}
		.l_side .comment{
			padding: 0 15px;
		}
		.l_side .comment p{
			padding: 0 5px 0 15px;
		}
		.l_side .comment .fa_com,
		.l_side .comment .fa_com1{
			left: 10px;
		}
		.search {
    	width: 266px;
		}
		.post{
			padding-left: 25px;
			padding-right: 25px;
		}
		.m_posts h1{
			margin-left: 25px;
		}
		.content{
			width: 481px;
		}
		.img_dscr{
			top: 140px;
		}
		.l_side {
			width: 186px;
		}
		.m_posts{
			width: 325px;
		}
	}

	/* Small Devices, Tablets */
	@media only screen and (max-width : 768px) {

		.m_posts{
			width: 500px;
			float: right;
		}
		.l_side {
			width: 268px;
			height: 800px;
		}
		.p_m {
			width: 65%;
		}
		.content{
			width: 768px;
		}
		.c_article p i{
			top: 310px;
		}
		.img_dscr {
			top: 166px;
		}
		.p_more{
			width: 45%;
		}
		.search {
    width: 442px;
}
	}

	/* Extra Small Devices, Phones */
	@media only screen and (max-width : 480px) {

		.l_side {
			width: 480px;
			height: 715px;
		}
		.l_side .comment .fa_com1{
			top: 572px;
		}
		.l_side .comment .fa_com{
			top: 665px;
		}
		.p_m {
			width: 50%;
		}
		.l_side ul li a i{
			margin-left: 100px;
		}
		.search {
    width: 421px;
  }
		.m_posts {
			width: 479px;
		}
		.content {
			width: 480px;
		}
		.img_dscr {
			top: 142px;
		}
		.c_article p i{
			top: 334px;
		}

		.c_pictures ul {
			margin-left: 0px;
		}
		.c_pictures li {
			margin-right: 15px;
		}

		/* Custom, iPhone Retina */
		@media only screen and (max-width : 320px) {
			.l_side {
				width: 320px;
				height: 715px;
			}
			.l_side ul li a i{
				margin-left: 65px;
			}
			.l_side .comment .fa_com1{
				top: 665px ;
			}
			.l_side .comment .fa_com{
				top: 572px;
			}
			.m_posts {
				width: 320px;
				height: 900px;
			}
			.search {
				width: 262px;
			}
			.content {
				width: 320px;
				height: 850px;
			}
			.c_article p i {
				top: 385px;
			}
			.content ul li{
				height: 55px;
			}
			.c_pictures li {
				margin-right: 4px;
			}

		}


		/*==========  Mobile First Method  ==========*/

		/* Custom, iPhone Retina */
		@media only screen and (min-width : 320px) {

		}

		/* Extra Small Devices, Phones */
		@media only screen and (min-width : 480px) {

		}

		/* Small Devices, Tablets */
		@media only screen and (min-width : 768px) {

		}

		/* Medium Devices, Desktops */
		@media only screen and (min-width : 992px) {

		}

		/* Large Devices, Wide Screens */
		@media only screen and (min-width : 1200px) {

		}